@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);


html {
    scroll-behavior: smooth;
}

body {
    background: #FFFFFF;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
    visibility: visible;
    background-color: #053f80;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    height: auto !important; padding-top: 94px;
}

section {
    float: left;
    width: 100%;
}

@media only screen and (min-width:240px) and (max-width: 768px) {
    section {
        padding: 0 15px;
    }
}

.plxi {
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;
}

.plxi h1 {
    text-align: center;
}

.plxi ::before {
    height: 65px;
    content: "";
    display: block;
}

.plxi h3 {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}

.sombra {
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.78);
}

.sombrabox {
    width: 100%;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.78);
}

.sombra2 {
    text-shadow: 3px 3px 5px #000, 3px -3px 5px #000, -3px 3px 5px #000, -3px -3px 5px #000;
}

.bgondecomprar {
    background-image: url("../img/ondecomprar.jpg");
}

.bgcadastros {
    background-image: url("../img/cadastros.jpg");
}

.bgescritorio {
    background-image: url("../img/escritorio.jpg");
}

.bgquemsomos {
    background-image: url("../img/quemsomos.jpg");
}

.bgconsultoria {
    background-image: url("../img/consultoria.jpg");
}

.bgprojetossociais {
    background-image: url("../img/projetossociais.jpg");
}

.ccparallaxeff {
    height: auto !important;
}

.plxc {
    background: none repeat scroll 0 0 #2581e8;
    padding: 42px 0;
    color: #FFF;
}

.plxc h3 {
    color: #FFF;
    text-align: center;
}

.plxv {
    height: 300px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.plxv video {
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -9999;
}

.plxv h3 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.78);
}

.container {
    margin: 0 auto;
    padding: 0 12px;
    height: auto !important;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.78);
}

.container h3 {
    text-shadow: 3px 3px 5px #000, 3px -3px 5px #000, -3px 3px 5px #000, -3px -3px 5px #000;
}

.container hr {
    border: 4px solid #fff;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.78);
}

.container p, .container li {
    font-size: x-large;
    text-align: justify;
}

.letragrande {
    text-align: center;
    font-size: x-large;
}

.letragrande p {
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.78);
}

.headlines h2 {
    color: #fff;
    font-family: "PT Sans", sans-serif;
    font-size: 32px;
    margin: 0;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.78);
    text-align: center;
}

.headlines p {
    font-size: 32px;
    font-family: "PT Sans", sans-serif;
    font-weight: 300;
    margin: 0;
    color: #f6f3f3;
    text-align: center;
}

.laranja {
    color: #f7941e;
}

.laranjafundo {
    background-color: #120a8f;
    border-color: #000;
    color: #fff;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.78);
}

.laranjafundo:hover {
    color: #fff;
}

.laranjafundo:focus {
    box-shadow: 0 0 0 0.2rem #f7951ec4;
}

.vermelhofundo {
    background-color: #d00000;
    border-color: #000;
    color: #fff;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.78);
}

.vermelhofundo:hover {
    color: #fff;
}

.vermelhofundo:focus {
    box-shadow: 0 0 0 0.2rem #f7951ec4;
}

.centro {
    text-align: center;
}

.botaoreklame {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: x-large;
}

.vcentro {
    margin-top: auto;
    margin-bottom: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1024px;
    }
}

#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;
    top:40%;
    width:100px;
    height:100px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 8px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.img100 {
    width: 1.88rem;
}

.modal-content {
    background: #053f80;
}

.modal-dialog,
.modal-content {
    height: calc(100% - 60px);
}

.modal-body {
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}

iframe {
  border-color: #053f80;
  border-style: double;
}

.main {
    height: auto !important;
}

.nav-logo {
    max-height: 80px;
}

.navbar {
    background-color: #2581e8f0;
}

.navbar-right {
    max-height: 80px;
}

.conciliar {
    background: url('img/queroconciliar.jpeg');
}

.linhabranca {
    border-color: #FFF;
}

.btn {
    text-shadow: 3px 3px 5px #000, 3px -3px 5px #000, -3px 3px 5px #000, -3px -3px 5px #000;
}

.sombralogo {
    filter:drop-shadow(4px 4px #053f80);
}

.sombralogo2 {
    filter: drop-shadow(0 0 4px #FFF);
}

.fundobranco {
    background: #FFF;
}

.dropdown-toggle {
    cursor: pointer;
}

.gradiente {
    background: linear-gradient(#FFF 0%, #237adc 50%, #FFF 100%);
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.78);
    font-size: 22px;
    color:#FFF
}

.gradiente:hover {
    background: linear-gradient(#FFF 0%,#237adc 10%, #FFF 50%, #237adc 90%,  #FFF 100%);
    text-shadow: 3px 3px 1px rgba(255, 255, 255, 1);
    color: rgba(5,63,128,1);
}

.nav-link {
    background: linear-gradient(#237adc 0%, rgba(5,63,128,0.5) 10%, #237adc 50%, rgba(5,63,128,0.5) 90%, #237adc 100%);/**/
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.78);
    font-size: 22px;
    color:#FFF
}

.link {
    color:#FFF;
    font-size: smaller;
}